*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}


body{
    display: grid; /* hacemos grid */
    min-height: 100vh; /* tome todo el contenido */
    grid-template-rows:auto 1fr auto ; /* establecer las filas */
    background: #ffffff;
}

/* nav*/
.nav-content{
    width: 100%;
    height: 50px;
    min-width: 370px;
    background: #f5f5f5;
    display: flex;
    justify-content: center; /* centra la caja al centro de forma horizontal */ 
    align-items: center; /* centra el contenido al centro en forma vertical */
    border-bottom: 1px solid #EAEAEA;
}
  
.nav-menu{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start; /* centra en horizontal */
    align-items: center; /* centra en vertical */
    gap: 40px;
}
  
.nav-item{
    font-weight: 800;
    color: #404040;
    margin-left: 45px;
    cursor: pointer;
}


  
  
.image{
    width: 50px;
    height: 50px;
    
}

.menuIcon{
    display: none;
}
  
@media (max-width: 600px){
    .menuIcon{
        display: block;
    }

    .image{
        display: none;
    }
    .imageLogo{
        width: 150px;
    }
  
    .menuIcon{
        width: 20px;
        margin-left: 50%;
    }
  
    .nav-menu{
     justify-content: space-around;   
    }

    .nav-item p{
        margin-left: -48px;
    }

    .functions{
        display: flex;
        justify-content: center;

    }

    .container{
        text-align: center;
    }

    .container #operations{
        width: 187px;
    }
}
  

  


.content{
    max-width: 1069px;
    margin: 0 auto;
    padding-top: 20px;
}


.footer-content{
    width: 100%;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F5F5F5;
    border-top: 1px #EAEAEA solid;
    margin-top: auto;
    color: #777;
    text-align: center;
}

.footer-link ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    padding-bottom: 20px;

}

.icon-footer{
    width: 2.5em;
}

a{
    color: #404040;
    text-decoration: none;
}

h1{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}



/* content */

/* contenedor principal */
.container{
    width: 100%;
    gap: 20px;
    border-bottom: 1px solid #eee;
    padding: 35px 0;
}


/* Funciones normales */
.normal-function{
    display: flex;
    flex-direction: column;
}

.normal-function h2{
    margin-bottom: 20px;
}

#operations{
    width: 169px;
}

.result{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

#btn-calculate{
    width: 100px;
    background: #404040;
    color: #f5f5f5;
    border-radius: 7px;
}

.container-result{
    padding-top: 20px;
    padding-bottom: 20px;
}



/* Fin funciones normales  */

/* funciones anonimas */

.anonymous-function{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 27px;
}


#miForm{
    margin-top: 20px;
    
    padding: 20px;
}


.input-form{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.btn-form{
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-form:hover{
    background-color: #3e8e41;
}

.item-form  
{
    display: flex;
    align-items: center;
    padding: 10px;
}

.form-label{
    width: 130px;
}

.item-form-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;

}

.item-form-btn button{
    width: 100%;
}

.json-container{
    display: flex;
    justify-content: center; /* alinea orizontal el contenido */
    align-items: center; /* alinea vertical lo que esta dentro del contenido */
}


/* arrow funtion */

.list-game{
    list-style: none;
}

.arrow-function{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 0px 27px;
}

.list-game li{
    width: 150px;
    padding: 10px;
}

.item-game button{
    width: 100%;
    height: 30px;
    background: #007bff;
    color: #f5f5f5;
    border-radius: 7px;
}

.card-header{
    width: 100%;
    height: 70%;
}

.card-body{
    width: 100%;
    text-align: center;
    font-style: justify;
}

#game-image{
    border-radius: 10px;
    width: 100%;
    height: 214px;
    margin-bottom: 30px;

}