*{
  box-sizing: border-box; 
  padding: 0; 
  margin: 0;
  font-family: 'Raleway', sans-serif; /* buscamos en google fonts, primero link en html y despues establecer de manera global */
}

/* posicionar footer con flexbox */
body{
  display: flex; /* hacemos responsivo */
  flex-direction: column; /* volvemos a dejar en columna */
  min-height: 100vh; /* usamos todoel view port */
}


.nav-content{
  width: 100%;
  height: 80px;
  min-width: 370px;
  background-color: #121127;
  display: flex;
/*   position:fixed; */
  justify-content: center; /* centra la caja al centro de forma horizontal */ 
  align-items: center; /* centra el contenido al centro en forma vertical */
}

.nav-menu{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center; /* centra en horizontal */
  align-items: center; /* centra en vertical */
  gap: 40px;
}

.nav-item{
  height: 100%;
  list-style: none;
  cursor: pointer;
  text-align: center;
}

.nav-item:hover{
  border-bottom: 2px solid #fff;
}

.image{
  width: 50px;
  height: 50px;
  
}
.imageLogo:hover{
  cursor: pointer;
  border-radius: 2px;
  /* box-shadow: rgba(32, 108, 195, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
}

.menuIcon{
  display: none;
}

@media (max-width: 600px){
  .menuIcon{
      display: block;
  }
}

@media (max-width: 600px){
  .image{
      display: none;
  }
}

@media (max-width: 600px){
  .imageLogo{
      width: 150px;
  }

  .menuIcon{
      width: 20px;
  }

  .nav-menu{
   justify-content: space-around;   
  }
}

/* Content */


.list-game{
  width: 100%;
  display: flex;
  padding: 20px;
}

/* FIN NAVBAR */


/* FOOTER */
footer{
  margin-top: auto; /* con flexbox en el body hacemos que se ajuste automaticamente */
}

.footer-content{
  width: 100%;
  background-color: #121127;
  color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: center;

}